wsbinary.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wsbinary"
                  targetNamespace="http://localhost:8000/wsbinary"
                  xmlns="http://localhost:8000/wsbinary"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <wsdl:message name="decimalToBinaryRequest">
    <wsdl:part name="a" type="xs:int"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="decimalToBinaryResponse">
    <wsdl:part name="result" type="xs:string"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="binaryToDecimalRequest">
    <wsdl:part name="a" type="xs:string"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="binaryToDecimalResponse">
    <wsdl:part name="result" type="xs:string"></wsdl:part>
  </wsdl:message>


  <wsdl:portType name="calcP">
    <wsdl:operation name="decimalToBinary">
      <wsdl:input message="decimalToBinaryRequest"></wsdl:input>
      <wsdl:output message="decimalToBinaryResponse"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="binaryToDecimal">
      <wsdl:input message="binaryToDecimalRequest"></wsdl:input>
      <wsdl:output message="binaryToDecimalResponse"></wsdl:output>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="calcB" type="calcP">
    <soap:binding style="document" 
                  transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="decimalToBinary">
      <soap:operation soapAction="decimalToBinary"/>
      <wsdl:input>
        <soap:body use="literal" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="binaryToDecimal">
      <soap:operation soapAction="binaryToDecimal"/>
      <wsdl:input>
        <soap:body use="literal" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>

    
  </wsdl:binding>

  <wsdl:service name="ws">
    <wsdl:port name="calc" binding="calcB">
      <soap:address location="http://localhost:8000/wsbinary"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>